* { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;

}

#wrapper{
    display: flex;
    flex-direction: column;
}

nav {
    min-height: 20px;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(15, 15, 15);
}

.brand {
    padding: 2.5rem;
    color: white;
}

.brand > .nav-link {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.nav-list {
    list-style: none;
    padding-top: 2rem;
}

.nav-link {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
}

.main-content {
    grid-area: main;
    background-image: url("../img/sample.jpg");
    background-size: cover;
    position: relative;
    padding: 18%;
}

.main-content-cta {
    position: absolute;
    top: 35%;
    left: 3%;
    transform: translateY(-55%);
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.main-content-cta h1 {
    font-size: 5rem;
}

.main-content-cta h6 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn-group {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    color: black;
}

.btn {
    color: black;
    padding: 1.5rem 5rem;
    border: 2px solid rgba(255, 255, 255, .6)
}

.btn:first-child{
    margin-right: 1rem
}

.main-content-cta .date{
    color: black;
    font-size: 2rem;
}

.footer {
    grid-area: footer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10%;
}

.panc-notice {
    width: 100%;
    height: inherit;
    max-width: 40rem;
    background-color: white;
    display: flex;
    padding: 2rem;
}

.panc-notice h1{
    /* margin: auto; */
    text-transform: uppercase;
    font-size: x-large;
    /* position: relative; */
}

.panc-notice .skills-list {
    margin: auto;
    position: relative;
    font-size: 15px;
}

.statistics {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.statistics .item {
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 2rem;
}

.statistics .item i{
    font-size: 3rem;
    padding: 0 3rem;
}

.item-desc p{
    font-size: .7rem;
}

@media(max-width: 1300px){
    .brand > .nav-link {
        font-size: 1.5rem;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .statistics .item i{
        font-size: 5rem;
        padding: 0 1rem;   
    }
    .panc-notice {
        max-width: 25rem;
        padding: 1rem;
    }
    .panc-notice h1{
        font-size: 1.5rem;
    }
    .item-desc p{
        font-size: 1.2rem;
    }
}

@media(max-width: 960px){
    #wrapper{
        grid-template-columns: 100% auto;
        grid-template-rows: 10% 100% auto;
        grid-template-areas: 
        "sidebar"
        "main"
        "footer"
        ;
    }
    nav {
        height: 100%;
        position: relative;
    }
    .nav-list{
        height: 100%;
        display: flex;
    }
    .brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1.5rem;
        z-index: 1000;
        padding: .5rem;
        border-radius: .8rem
    }
    .nav-items{
        margin: auto;
    }
}

@media(max-width: 785px){
    .main-content-cta {
        top: 50%;
        left: 50%;
        right: initial;
        transform: translate(-50%, -50%)
    }
    .panc-notice{
        max-width: initial;
    }

    .panc-notice h1::before{
        left: 50%;
        transform: translateX(-50%);
        bottom: -.7rem;

    }
    .footer{
        display: flex;
        flex-direction: column;
    }

}

@media(max-width: 630px){
    .nav-link{
        font-size: .8rem
    }
    .btn{
        padding: .5rem;
    }
    .statistics{
        flex-direction: column;
    }
    .statistics .item{
        flex-direction: column;
    }
    .item-desc{
        text-align: center;
        color: white;
    }
    .item-desc h1{
        margin: 1rem 0;
    }
}
